<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Data Karyawan</h1>
    <form action="/karyawan/<%=karyawan._id%>?_method=PUT" method="POST">
        <div>
            <label for="nama">Nama</label>
            <input type="text" id="nama" name="karyawan[nama]" value="<%=karyawan.nama %>">
        </div>
        <div>
            <label for="gender">Jenis Kelamin</label>
            <input type="text" id="gender" name="karyawan[gender]" value="<%= karyawan.gender%>">
        </div>
        <div>
            <label for="lahir">Tanggal Lahir</label>
            <input type="date" id="lahir" name="karyawan[lahir]" value="<%= karyawan.lahir%>">
        </div>
        <div>
            <label for="universitas">Asal Kampus</label>
            <input type="text" id="universitas" name="karyawan[universitas]" value="<%= karyawan.universitas%>">
        </div>
        <div>
            <label for="skills">Kemampuan IT</label>
            <input type="text" id="skills" name="karyawan[skills]" value="<%= karyawan.skills%>">
        </div>
        <button>Update Data</button>
    </form>
    <a href="/karyawan/<%= karyawan._id%>">Back To Data Karyawan</a>
</body>

</html>